/* Importing a Google Font */

@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,200;0,400;0,700;1,200;1,400;1,700&display=swap');

/* Changing the main font and background colour */

body {
	font-family: "proxima-nova", sans-serif;
font-weight: 500;
font-style: normal;
	color:#3F322A;
	background-color: #FAD7D1;
}

/* Changing the background colour for the header */


/* Changing the background color for the navigation bar */

.navbar {
	background-color: #6FBCB3;
}

/* Effect on social media buttons */

footer a:hover {
	opacity: .5;
}

/* Corporate navbar */

#navbar-corporate a.active {
	color: #800000;
	font-weight: bold;
}
.logo-font {
	font-family: "jeanne-moderno-geometrique", sans-serif;
font-weight: 600;
font-style: normal;
	color: #3F322A;
}
.text-color{
	color: #3F322A !important;
}
.carousel-text {
	color: #a10054 !important;
}
.button-color{
	color:#a10054 !important;
}
.padding {
	padding-top: 30px;
	padding-bottom: 30px;
}
.padding-bottom{
	padding-bottom: 30px;
}
.idk {
	background-color: #6FBCB3 !important;
}
.btn{
	background-color:#a10054;
}